@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700;900&display=swap');

body{
    font-family: 'Mulish', sans-serif;
}
h1{
    font-size: 53px;
    font-weight: 900;
    color: #04416c;
    border-bottom: 2px solid;
}
h2{
    color:white; font-weight: 700; font-size:32px; margin:0; height: 100px; line-height: 100px;  text-align:center;background-color: #0a2ff1; width: 100%;
}

/* Estilo de Tarjetas */
main{
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}
div{
    display: flex;
    flex-direction: column;
    background-color: #0a2ff1;
    width: 23%;
    border: 1px solid;
    justify-content: center;
    text-align: center;
}